{# Page : /hakkimizda/tarihce  #}

{% extends "_site/layout/base.twig" %}
{% block content %}
        <div class="row">
                <div class="col-3">
                      {% include '_site/layout/hakkimizdaMenu.twig'%}      
                </div>
                <div class="col-9">
                        <h1>Tarihçe</h1>
                        
                </div>
        </div>
{% endblock %}